body{
    font-family: roboto, sans-serif, "Times New Romans" ; 
}

.header-container,
.footer{
    background-color: #1f2937;
}

.header-container{
    padding: 10px;
}

.sub-container{
    max-width: 960px;
    margin: 0 auto;
}

.footer{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    height: 40px;
    width: 40px;
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 18px;
}

a, 
.secondary-text{
    font-size: 18px;
    color: #e5e7eb;
}

a{
    text-decoration: none;
    margin: 0;
    padding: 0;
}

a:hover{
    background-color: #A9A9A9;
    color: #1f2937;
}

h1{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900px;
}


.header{
    display: flex;
    justify-content: space-between;
}

.image-holder{
    height: 150px;
    width: 350px;
    background-color: #A9A9A9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

button{
    background-color: #3882f6;
    color: white;
    border-radius: 5px;
    width: 90px;
    height: 28px;
    border-color: white;
}

button:hover{
    background-color: lightblue;
    color: rebeccapurple;
    font-weight: bolder;
}

h2{
    font-size: 36px;
    color: #1f2937;
    font-weight: 900px;
    text-align: center;
}

.quote-section{
    background-color: #e5e7eb;
    padding: 20px;
}

.quote-text{
    font-size: 36px;
    color: #1f2937;
    font-weight: 300px;
}

.quote-origin{
    text-align: end;
    font-weight: bolder;
}

.image-box{
    height: 80px;
    width: 80px;
    border: #3882f6 solid;
    border-radius: 7px;
    align-self: center;
}

.image-box-container{
    display: flex;
}

.image-box-sub-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.image-text{
    text-align: center;
}

.alert-message-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3882f6;
    height: 100px;
    border-radius: 8px;
    margin: 40px;
    padding: 16px;
}

.alert-message{
    color: #f9faf8;
}

.footer-text{
  color: #f9faf8;  
}
